[Unit]
Description=Happ VPN Bulletproof Kill Switch
DefaultDependencies=no
After=systemd-modules-load.service
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f /etc/happ-killswitch.nft
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
